@charset "ISO-8859-1";
h1 {text-align: center;}
div{text-align: center;}
body {
	background-image:
		url(https://thumbs.dreamstime.com/b/outdoor-portrait-female-doctor-looking-to-camera-smiling-35801878.jpg);
	background-attachment: fixed;
	background-size: 1366px 768px;
}
.login-form{
width: 75px;
    height: 30px;
    font-size: 17px;
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 3px;
    color: blue;
}